@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: rgb(188, 205, 208);
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.card {
	display: flex;
	align-items: center;
	background-color: white;
	border-radius: 30px 30px 30px 30px;
}

.conteudo {
	width: 584px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
	justify-content: space-between;
}

.content{
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.imagerow {
	display: block;
}

.imagecolumn{
	display: none;
}

.titulo {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 36px;
	color: #111313;
}

.paragrafo {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	text-align: justify;
}

.info{
	display: flex;
	flex-direction: column;
	gap: 7px;
	width: 100%;
}

.button {
  border-radius: 15px;
  background-color: #696F5A;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: fit-content;
  gap: 15px;
  align-self: flex-end;
}

.button-hidden {
  display: none;
}

.button h3{
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	color: #DFDFD6;
}

.footer {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 500;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer .perfil {
	display: flex;
	flex-direction: row;
}

.footer .image {
	width: 60px;
	height: 60px;
}

.footer .descricao {
	display: flex;
	flex-direction: column;
	margin-left: 11px;
}

.footer .nome {
	font-size: 24px;
	line-height: 30px;
}

.footer .data {
	font-size: 16px;
	line-height: 20px;
	margin-top: 10px;
}

@media (max-width:375px){

	.card{
		flex-direction: column;
	}

	.content{
		gap: 10px;
	}

	.conteudo {
		width: 350px;
		height: fill;
		padding: 25px 30px;
		gap: 23px;
	}
	
	.info{
		gap:13px;
	}
	
	.imagerow{
		display: none;
	}

	.imagecolumn{
		display: block;
	}

}